<form [formGroup]="effortForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label for="description">Description</mat-label>
        <input matInput type="text" formControlName="description" id="description"/>
        <mat-error *ngIf="submitted && effortForm.get('description')?.errors?.['required']">Enter description</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="URL">URL</mat-label>
        <input matInput type="text" formControlName="URL" id="URL">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="time">Time</mat-label>
        <input matInput type="number" formControlName="time" id="time">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="category">Category</mat-label>
        <mat-select formControlName="category" id="category">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="javascript">JavaScript</mat-option>
            <mat-option value="typescript">TypeScript</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && effortForm.get('category')?.errors?.['required']">Enter category</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>