<form [formGroup]="effortForm" (ngSubmit)="onSubmit()">
    <label for="description">Description</label><br>
    <input matInput type="text" formControlName="description" id="description"/><br>
    <span *ngIf="submitted && effortForm.get('description')?.errors?.['required']">Enter description</span><br>

    <label for="URL">URL</label><br>
    <input type="text" formControlName="URL" id="URL"><br>

    <label for="time">Time</label><br>
    <input type="number" formControlName="time" id="time"><br>
    
    <label for="category">Category</label><br>
    <select formControlName="category" id="category">
        <option value="angular">Angular</option>
        <option value="javascript">JavaScript</option>
        <option value="typescript">TypeScript</option>
    </select><br>
    <span *ngIf="submitted && effortForm.get('category')?.errors?.['required']">Enter description</span><br><br>


    <button type="submit">Submit</button>
</form>